body{
  background-color: #0abab5;
}

h1{
  text-align: center;
  font-family: 'Mali', cursive;
  font-style: bold;
  font-size: 3.75em;
}

h2{
  text-align: center;
  font-family: 'Mali', cursive;
  font-style: medium;
  font-size: 1.875em;
  }

  h3{
    font-family:'Mali', cursive;
    font-style: semi-bold;
    font-size: 1.5em;
  }
#nav{
  text-align: center;
  background-color: #ccae1f;
  font-family: 'Mali', cursive;
  font-size: 1.25em;

}

p{
  text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: medium
}

.side{
}

.one{
  text-align: center;
}

.two{
  text-align: center;
}

.three{
  text-align: center;
}

.tea{
  text-align: center;
}
